<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://th.bing.com/th/id/OIP.IitgyH10SCQXv6SA2slRGQHaEo?w=264&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="serena">
 </div> 

  <div>
  <img src="https://th.bing.com/th/id/OIP.zMw8N29O5yzrXX5ZHd_jQwHaEK?w=282&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="serena">
 </div> 
<%- include('../partials/footer') %>