<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src=https://th.bing.com/th/id/OIP.ke5JC_92OgQdEpeohhOdkwHaHa?w=161&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7 alt="jordans">
 </div> 
  <div>
    <img src=https://th.bing.com/th/id/OIP.oQduJijxbnsF0UZtHaj1ygHaE7?w=255&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7 >
  </div>
  
<%- include('../partials/footer') %>