<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://i.pinimg.com/originals/32/c8/3e/32c83ed6544199573d7d4792d79dae4b.jpg" alt="sushi">
 </div> 

  <div>
  <img src="https://th.bing.com/th?id=OIF.dUI7J3JVSCH27%2b0DE7GWLg&w=304&h=182&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="sushi">
 </div> 
  
  
<%- include('../partials/footer') %>